@import "../variables";
@import "../own-variables";

div.table__container {

    table.table {
        table-layout: fixed;
        margin-bottom: 0;
        border: none;
    }

    > div.table__body {
        overflow: auto;
    }

    .table__body {
        border: 1px solid @gray-lighter;
        border-top: none;
    }
}